<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/logo.svg" alt="Batby Education" height="36" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <span class="bi bi-people-nav-menu" aria-hidden="true"></span> Students
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tutors">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Tutors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="bi bi-calendar-nav-menu" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="invoices">
                <span class="bi bi-receipt-nav-menu" aria-hidden="true"></span> Invoices
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="payments">
                <span class="bi bi-credit-card-nav-menu" aria-hidden="true"></span> Payments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="bi bi-bar-chart-nav-menu" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
    </nav>
</div>
